<div class="container quiz_body">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 style="text-align:center;">Is Artemis right for you?</h1>
      <%= render 'form', assessment: @assessment %>
    </div>
  </div>
</div>
