<%= form_with(model: diversity, local: true) do |form| %>
  <% if diversity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diversity.errors.count, "error") %> prohibited this diversity from being saved:</h2>

      <ul>
      <% diversity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
