<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="diversity_intro">
        <h3>Diversity &amp; Inclusion Self Assessment</h3>
        <p>
          This tool enables organizations to benchmark their current diversity and inclusion activities and identify areas ripe for improvement and/or change.
        </p>
        <p>
          The higher the score, the better your company performs against key diversity and inclusion criteria and the more closely it aligns with industry best practices. If your company gets a lower score, there will be more work to do to bring you in line with diversity and inclusion best practices.
        </p>
        <p>
          Whatever your score, there is always room for improvement. The aim of this assessment is to provide practical guidance to guide and focus your efforts as your company continues to mature its approach to diversity and inclusion.
        </p>
        <a href="/diversity_assessment">
          <span>Begin assessment</span>
          <i class="fa fa-arrow-circle-o-right fa-3x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
