/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "diversities.scss";
@import "respondents.scss";
@import "font-awesome";


 #header {
  padding: 1.5em 20px;
  box-sizing: border-box;
  z-index: 1000;
  left: 0;
  width: 100%;
  line-height: 1em;
  background-color: #c8c9cb;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  position: relative;
 }

 #logoImage {
     margin: 0;
     font-size: 0;
     max-width: 100%;
 }

 #logoImage img {
    height: auto;
    // max-height: 100px;
    width: auto;
    max-width: 100%;
}

h1{
  color: #758DA2;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: .63px;
  font-family: 'proxima-bold';
  margin-bottom: 1em;
}

#header #logoWrapper, #header #logoImage {
    max-width: 315px;
}
// @media only screen and (min-width: 641px) {
// #header #logoWrapper, #header #siteTitleWrapper, #header #headerNav {
//     box-sizing: border-box;
//     display: table-cell;
//     vertical-align: middle;
//   }
// }

#header {
  #logoWrapper {
    float: left;
  }
  .header-nav {
    float: right;
    list-style: none;
    margin-top: 21px;
    margin-right: 1em;
    li {
      float: left;
      margin-right: 0.2em;
      a {
        display: block;
        padding: 1em 1.3em;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 12.5px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1em;
        background: transparent;
      }
      .nav-contact {
        border: 2px solid #fff;
        border-radius: 300px;
        margin-left: 1em;
        padding: 1em 1.5em;
        &:hover {
          color: #000;
          background-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 878px) {
  .header-nav {
    display: none;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

#paragraph{
  text-align: center;
  font-size: 25px;
  font-family: 'helvetica';
}

#heading,#heading1,#heading2,#heading3,#heading4,#heading5,#heading6,#heading7{
  text-align: center;
  font-family: 'Proxima-bold';
  color: #738FA4;
  font-size: 40px;
  padding-top: 10px;
}
