/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #header {
     padding:10px 30px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     z-index: 1000;
     top: -20px;
     left: 0;
     width: 100%;
     line-height: 1em;
     background-color: #c8c9cb;
     -moz-osx-font-smoothing: auto;
     -webkit-font-smoothing: subpixel-antialiased;
     position: relative;
 }

 #logoImage img {
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
}

h1{
  color: #758DA2;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: .63px;
  font-family: 'proxima-bold';
}
