// Place all the styles related to the assessments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


// Quiz Intro

.quiz_intro {
  h1 {
    text-align: center;
    margin-bottom: 0.8em;
  }
  .well {
    padding: 3em 4em 2em;
    p {
    font-size: 1.5em;
    line-height: 1.8;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &:hover {
        text-decoration: none;
      }
      span {
        font-size: 1.5em;
        margin-right: 1em;
      }
    }
  }
}

// Quix Body

.quiz_body {
  h3 {
    margin-bottom: 1em;
  }
}


.quiz_box {
  padding-top: 1em;
  width: 75%;
  margin: 0 auto;
  font-family: 'proxima-bold', sans-serif;
  .text{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2162ba;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
  }
  .radio {
    margin-left: 0;
    margin-bottom: 1em;
    label {
      font-size: 16px;
    }
  }
  a {
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }
}

.quiz_user_info {
  padding-top: 1em;
  width: 75%;
  margin: 0 auto;
  font-family: 'proxima-bold', sans-serif;
  .text{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1.2em;
  }
  .form-group {
    .form-control {
      width: 60%;
    }
  }
  .btn-submit {
    display: inline-block;
    margin-top: 0.8em;
  }
}

.line{
  height:150px;
  width:1px;
  background:#000;
}

@font-face {
  font-family: 'proxima-bold';
  src: url('proxima.otf') format('truetype');
}

@font-face {
  font-family: 'proxima-thin';
  src: url('proxima-thin.otf') format('truetype');
}



.radio{
  margin-left: 30px;
}

.smaller_text{
  font-family: 'proxima-thin';
  font-weight:lighter;
}

// Quiz Result

.quiz_result {
  font-family: 'proxima-bold', sans-serif;
  .quiz_result_head {
    width: 80%;
    margin: 0 auto;
    h3 {
      line-height: 1.5;
    }
  }
  .quiz_result_body {
    border: 1px solid;
  }
}
