// Progress Bar

.categories-title {
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.progress {
  height: 50px;
  .progress-bar {
    line-height: 50px;
    font-size: 20px;
  }
  span {
    line-height: 50px;
    margin-left: 1em;
    font-weight: bold;
    font-size: 20px;
  }
 }
